ecosystem.config.js
.env
node_modules
.DS_STORE
dist
img
*.jpg
data/*
storage
screenshots
apis/get-data-api/get-data-api
apis/hosts-api/hosts-api
apis/properties-api/properties-api
apis/properties-api/ping.sh
kubeconfig/kubeconfig.yaml
secret.tfvars
terraform.tfstate*
.terraform
*.hcl